{% extends "base.html" %}
{% block title %}E-Commerce{% endblock %}


{% block content %}
<div class="container-fluid">
  <div class = "row">
{% include 'navbot.html' %}

    <!--filter-->

    <!-- all products -->
    <div id = 'products' class= "col mt-4">
      <div class = "row p-4 m-4 ">
        {% for product in Products%}
        <div class="card p-2 m-2 ml-4" style="width: 20rem;">
          <img class="card-img-top" src="{{product.product_image.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{product.product_name}}</h5>
              <p class="card-text">{{product.product_desc}}</p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
            {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}







